/*
#454545
*/


:root {
    --bg-color: #f1faee;

    --card-bg-color: #f1faee;

    --card-h1-color: #f77f00;
    --card-h2-color: black;
    
    --nav-bg-color: #1d3557;
    --nav-txt-color: #f77f00;
    
    --btn-color: green;
    --btn-txt: black;

    --bold-text: #f77f00;

}

html {

    background-color: var(--bg-color);
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

header {

    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
    
    font-size: 1.2rem;

}



main {

    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    align-items: center;

    line-height: 1.6;
    font-size: 1.2rem;

    min-height: 700px;
}

b {

    color: var(--bold-text)!important;

}

h1 {

    font-family: rigid-square, sans-serif;
    font-weight: 800;
    font-style: normal;

    font-size: 3.5rem;

}

h2 {

    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.5rem;
}


/*#############
    NAV HEADER
#############*/
.nav {

    display: block;
    background-color: var(--nav-bg-color);
    min-height: 125px;
    height: auto;
}

.nav-sub {

    display: none;
}

.nav-item {

    display: block;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    margin: 10px;
    font-size: 1.3rem;
    color: var(--nav-txt-color);
}

.nav-item:hover, .nav-brand:hover {

    background-color: khaki;

}

.nav-item:active, .nav-item:visited, .nav-item a {

    text-decoration: none;
}

.nav-brand {

    text-align: center;

    padding: 15px 30px;
    font-weight: 700;
    
    margin:  auto auto;
}

/*#############
FOOTER
#############*/
.footer {

    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer div {

    padding: 20px;
    text-decoration: inherit;
}

.footer a {
    
    text-decoration: inherit;
}



/*#############
    LANDING TITLE
#############*/

.landing-title {

    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
}

.landing-title h1:first-child{

    
    color: var(--card-h1-color);
    margin: 10px 0px;

}

.landing-title h2:last-child {

    
    color: var(--card-h2-color);
    margin: 10px 0px;

}

/*#############
LANDING BUTTON GROUP
#############*/

.landing-buttons {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 20vh;
}

.landing-buttons a {
    
    margin: 2vh 0px;
}

.landing-buttons a:visited {

    text-decoration: none;
}

.button {

    background-color: var(--btn-color);
    padding: 20px;
    border-radius: 5px;

    color: var(--btn-txt);
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
}


/*#############
    CARD
#############*/
.card-container {

    width: 90vw;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;

    margin-top: 100px;
    
    overflow: hidden;

}

.max-width {

    max-width: 1000px;

}

.width-100 {

    width: 100%;
}

.card {

    
    background-color: white;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 2px rgba(10,10,10,.1);

    min-height: 400px;
    min-width: 350px;

    max-height: 250px;
    max-width: 300px;
    
    margin: 30px 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    flex: 1 0;

    overflow: hidden;
    
}

.card h2 {

    font-size: 2.4rem;
}

.card h3 {

    font-size: 1.4rem;

}

.card p {

    padding: 10px;
    font-size: 1.1rem;
}

.card img {

    width: 70vw;
    max-width: 350px;
    margin:  auto;
    

}

/*#############
    SEARCH PAGE
#############*/

.search-container {
    width: 80vw;
    height: 70vh;
    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    
    overflow: hidden;
    background-color: transparent;
    
}

.search-container div:first-child {

    align-self: flex-start;
    
    
}

.search-container div:last-child {

    align-self: flex-end;
}

.search-card {

    flex: 1 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#execute-search {

    align-self: center;

    margin: 20px;
    margin-bottom: 50px;
    
}

#map-selection {

    margin-top: 40px;
    width: 80vw;
    height: auto;
}

/*#############
    FORM
#############*/
.form-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
    height: 100%;
    width: 100%;
    
}

.form-item {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}

.form-item input, select{
    
    width: 80px;
    height: 40px;
    margin: 10px;
    padding: 5px;

    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    
}

.form-item input:hover {

    border-color: blue;
    
}

/* custom modifier for larger inputs */
.form-item .date {

    width: 135px;
    
}

.form-item label {

    margin-top: 10px;

}





/* 1024 */
@media (min-width: 900px) {

    h1 {

        font-size: 6rem;
    
    }
    
    h2 {
    
        font-size: 2rem;

    }

    .button {

        font-size: 1.3rem;
    }

    /*#############
    NAV GROUP
    #############*/
    .nav {

        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .nav-sub {

        display: flex;
        justify-content: space-around;
    }

    .nav-brand {

        margin: 10px 10px;

    }

    /*#############
    LANDING BUTTON GROUP
    #############*/
    .landing-buttons {

        flex-direction: row!important;
        justify-content: center!important;
    
    }

    .landing-buttons a {

        max-width: 6rem;
        margin: 0 4vw;
    
    }



    .card-container {

        margin-top: 150px;
        justify-content: space-between;
    }

    .card {

        margin: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .search-container {

        flex-direction: row;
    }

    #map-selection {

        margin-top: unset;
        width: inherit;
        height: inherit;
    }

    




}

/*#############
    HELPERS
#############*/
.no-background {
    
    background-color: transparent!important;
}

.no-boxshadow {

    box-shadow: none!important;

}

.no-margin {

    margin: 0!important;
}

.full-width {

    max-width: inherit!important;
}

.height-auto {

    height: auto!important;
    min-height: auto!important;
    max-height: 500px!important;
}

.margin-center {

    margin: 50px auto!important;
   
}



/*########
    RESULTS GRID
##########*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-template-areas:
      "left right"
      "left right"
      "bottom bottom";

    height: 100vh;
    width: 95vw;

    margin: 25px;
  }

  .left {
      
    grid-area: left; 
    text-align: center;
}

.grid-card {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 2px rgba(10,10,10,.1);
    overflow: hidden;
}

.left h3:first-child {

    margin: 10px 0;
    font-size: 1.7rem;

}
  .right { 
      
    grid-area: right; 
    
}
  .bottom { 
      
    grid-area: bottom; 
    min-height: 500px;

}


.grid-minimum {

    height: 100%;
    width: 100%;
}