
/*
klinic_slabbook
klinic_slablight
klinic_slabmedium
klinicslabbold
*/

/*
font-family: stolzl, sans-serif;
font-weight: 400;
font-style: normal;



font-family: stolzl, sans-serif;
font-weight: 700;
font-style: normal;



font-family: termina, sans-serif;

font-weight: 800;

font-style: normal;



*/


/**************/
/* PRIMERS */
/**************/
:root {
    --bg-color: #f1faee;

    --card-bg-color: #f1faee;

    --card-h1-color: #f77f00;
    --card-h2-color: black;
    
    --nav-bg-color: #1d3557;
    --nav-txt-color: #f77f00;

}



html {

    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: klinic_slabmedium;
    
}


body {

    
    height: 100vh;
    background-color: var(--bg-color);
}

main, header {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: inherit;

}

header {

    height: unset!important;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {

    /*
    font-family: klinicslabbold;
    */

    font-family: rigid-square, sans-serif;
    font-weight: 800;
    font-style: normal;

    
}

h2 {

    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-style: normal;

}


/**************/
/* BUILDERS */
/**************/

/* general */
.card {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row!important;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 2px rgba(10,10,10,.1);
    background-color: #ffffff;
    margin: 20px;

    background-color: var(--card-bg-color);

}

.card-append {

    margin-top: 0px!important;
    height: 100px;

}

.card h1 {

    margin-top: 0;

}





/* nav */
.card-nav {

    height: auto;
    
    flex-wrap: nowrap!important;
    justify-content: space-between;

    font-size: 1.2rem;
    background-color: var(--nav-bg-color);
    
}

.nav-sub {

    display: flex;
    justify-content: space-around;
}

.nav-item {

    padding: 20px 40px;
    text-decoration: none;
    margin: 10px;
    font-size: 1.3rem;
    color: var(--nav-txt-color);
}

.nav-item:hover, .nav-brand:hover {

    background-color: khaki;

}

/* TODO Fix the random blue link */
.nav-item:active, .nav-item:visited, .nav-item a {

    text-decoration: none;
}

.nav-brand {

    padding: 15px 30px;
    font-weight: 700;
    margin: 10px 10px;
    
}


/****
MAIN TITLE
*****/

.main-title {
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

.main-title h1 {

    font-size: 6rem;
    color: var(--card-h1-color);

}

.main-title h2 {

    font-size: 2rem;
    color: var(--card-h2-color);

}

.main-title h1:first-child {

    margin: 10px 0px;

}

.main-title h2:last-child {

    margin: 10px 0px;
    

}

.main-body {

    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.main-body .card {

    background-color: pink!important;
    margin: 10px 20px;
    padding: 10px;
    flex-shrink: 1;
    flex-shrink: 1;

    flex-direction: column!important;
    justify-content: flex-start;
}

.main-body .card p {

    align-self: center;
    padding: 10px;

}






/* form */

.form-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 80%;

}

.form-item {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}

.form-item input, select{
    
    width: 80px;
    height: 30px;
    margin: 10px;
    padding: 5px;

    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.form-item input:hover {

    border-color: blue;
    
}

/* custom modifier for larger inputs */
.form-item .date {

    width: 120px;
}

.form-item label {

    margin-top: 10px;

}

.button {

    margin: auto;
    background-color: saddlebrown;
    
}















/**************/
/* HELPERS */
/**************/
.height-third {

    height: 33.33%;

}
.height-half {

    height: 50%;

}
.height-two-thirds {

    height: 66.66%;

}
.height-full {

    height: 100%;

}
.width-half {

    width: 50%;

}
.width-full {

    width: 100%;
}
.width-limit-1000 {

    max-width: 1000px;

}
.no-margin {

    margin: 0!important;

}

.no-margin-b {

    margin-bottom: 0!important;

}

.no-margin-t {

    margin-bottom: 0!important;

}


.corners-round {

    border-radius: 10px!important;
    overflow-x: hidden;
    overflow-y: hidden;

}


.items-top {
    
    justify-content: flex-start!important;
    flex-direction: column!important;
    
}




.boxshadow-none {

    box-shadow: none;
}

/* button */
.large {

    
    width: 200px;
    padding: 20px;
    font-size: 1.2rem;
    
}

.animate-scale {

    border: 4px solid skyblue ;
    
    transition: transform .2s;

}
.animate-scale:hover {

    transform: scale(1.1);

}

