<!doctype html>
<html class='text-gray-900 leading-tight font-sans overflow-x-hidden'>

<head>
    <title> {{ title }} | GeoQuery </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="..\static\css\tailwind.css" rel="stylesheet">

</head>

<style>
    .active {
        display: block;
    }
</style>

<body class='bg-gray-100 overflow-hidden'>
    <header class=' mx-auto w-screen bg-green-800 p-5'>

        <nav class="flex-row md:justify-between">


            <div class="flex flex-row justify-between text-white font-bold">

                <!-- BRAND ICON -->
                <a href='/' class=''>

                    <img src="{{ url_for('static', filename='img/brand.png') }}" alt="Geo Query"
                        class='h-12 w-12'></img>
                </a>

                <!-- BURGER ICON -->
                <button id="burger-button" class="md:hidden bg-yellow-500 rounded p-1 h-10 w-10" href=''>
                    <svg class='fill-current' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>

                <ul class="hidden text-center md:flex flex-col justify-evenly md:flex-row md:justify-end text-lg"
                    id="mobile-menu">

                    <a href="{{ url_for('main.index')}}">
                        <li class="p-6 hover:bg-yellow-700"> Home</li>
                    </a>

                    <a href="{{ url_for('main.search')}}">
                        <li class="p-6 hover:bg-yellow-700">Search</li>
                    </a>

                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login')}}">
                        <li class="p-6 hover:bg-yellow-700">Login</li>
                    </a>

                    <a href="{{ url_for('auth.signup')}}">
                        <li class="p-6 hover:bg-yellow-700">Sign Up</li>
                    </a>

                    {% endif %}

                    <a href="{{ url_for('main.about')}}">
                        <li class="p-6 hover:bg-yellow-700">About</li>
                    </a>

                </ul>

            </div>

        </nav>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer class='w-full text-center flex justify-evenly items-center text-sm md:text-lg mt-10 p-5 text-gray-600'>

        <p><a href='https://github.com/mtralka/GeoQuery'>GitHub</a></p>

        <p class='font-bold'>GeoQuery &#xA9; 2020 Matthew Tralka</p>

        <p><a href='https://tralka.xyz'>tralka.xyz</a></p>

    </footer>

</body>
<script>
    let hamburger = document.getElementById('burger-button');

    let mobileMenu = document.getElementById('mobile-menu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
</script>

</html>