<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> SEARCH PAGE </title>

        <meta name="author" content="Matthew Tralka">
        <meta name="description"
            content="">
        <meta name="keywords" content="">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for ('static', filename= 'css/normalize.css') }}"/>
        <!--
            <link rel="stylesheet" href="{{ url_for ('static', filename= 'css/style.css') }}" />
        -->
        
        <link rel="stylesheet" href="{{ url_for ('static', filename= 'css/home.css') }}" />

        <!-- FONT -->
        <link rel="stylesheet" href="{{ url_for ('static', filename= 'fonts/klinicslabbook-webfont.woff2') }}"/>
        <link rel="stylesheet" href="{{ url_for ('static', filename= 'fonts/klinicslablight-webfont.woff2') }}"/>
        <link rel="stylesheet" href="{{ url_for ('static', filename= 'fonts/klinicslabmedium-webfont.woff2') }}"/>
        <link rel="stylesheet" href="{{ url_for ('static', filename= 'fonts/klinicslabbold-webfont.woff2') }}"/>
        
        <!-- ADOBE FONTS -->
        <link rel="stylesheet" href="https://use.typekit.net/hwf2qbl.css">

        

        <!-- typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        -->

    </head>

    <body>

        <header class='nav'>
        
            <a class='nav-brand' href="/">

                <img src="{{ url_for ('static', filename= 'img/brand.png') }}" alt='GeoQuery' width='70'>

            </a>

            <nav class='nav-sub'>

                <a href="/" class='nav-item'>

                    home

                </a>

                <a href="/search" class='nav-item'>

                    search

                </a>

                <a href="/about" class='nav-item'>

                    about

                </a>

            </nav>

        </header>

        <main>

            {% block content %}
            {% endblock %}

        </main>

        <footer class='footer'>

            <div>

                &#0169;2020 <a href="https://tralka.xyz"><strong>Matthew Tralka</strong></a>

            </div>

        </footer>

    </body>

</html>