<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> GeoQuery </title>
        
        <meta name="author" content="Matthew Tralka">
        <meta name="description"
            content="">
        <meta name="keywords" content="">
        
        <!-- CSS -->
        <link rel="stylesheet" href="..\static\css\normalize.css"/>
        <link rel="stylesheet" href="..\static\css\home.css" />

        

        <!-- ADOBE FONTS -->
        <link rel="stylesheet" href="https://use.typekit.net/hwf2qbl.css">


        <!-- typed.js -->
        <!-- 
        <script src="..\static\js\typed.js"></script>
        -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

        
    </head>

    <body>

        <header class='nav'>
        
            <a class='nav-brand' href="/">

                <img src='..\static\img\brand.png' alt='GeoQuery' width='70'>

            </a>

            <nav class='nav-sub'>

                <a href="" class='nav-item'>

                    home

                </a>

                <a href="search.html" class='nav-item'>

                    search

                </a>

                <a href="" class='nav-item'>

                    about

                </a>

            </nav>

        </header>

        <main>

            <div class='landing-title'>

                <h1>

                    GeoQuery

                </h1>

                <h2>

                    <span id='typed'></span>

                </h2>

            </div>

            <div class='landing-buttons'>

                <a href='/' class='button'> 

                    Sign Up

                </a>

                <a href="#more-info" class='button'>

                    Learn More

                </a>

            </div>

            <div class='card-container' id='more-info'>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                

            </div>

        </main>
    
        <footer class='footer'>

            <div>

                &#0169;2020 <a href="https://tralka.xyz"><strong>Matthew Tralka</strong></a>

            </div>

        </footer>

        <script>

            
            var options = {

                strings: ['<i>Search<i/> the World', '<i>Know<i/> the World', '<i>Change<i/> the World'],
                typeSpeed: 70,
                startDelay: 100,
                loop: true,
                backdelay: 40,
                fadeOut: false
                
            };

            var typed = new Typed('#typed', options);

        </script>


    </body>

</html>