{% extends "base.html" %}

{% block content %}

            <div class='landing-title'>

                <h1>

                    GeoQuery

                </h1>

                <h2>

                    <span id='subtitle'></span> the World

                </h2>

            </div>

            <div class='landing-buttons'>

                <a href='/' class='button'> 

                    Sign Up

                </a>

                <a href="#info" class='button'>

                    Learn More

                </a>

            </div>

            <div class='card-container' id='info'>

                <div class='card no-background no-boxshadow' style="justify-content: center;align-items: center;">

                    <h2>

                        The world is full of data

                    </h2>

                </div>

                <div class='card no-background no-boxshadow'>

                    
                    <img src="{{ url_for ('static', filename= 'img/globe_with_points.svg') }}">

                </div>

                <div class='card no-background no-boxshadow'>

                   
                    <img src="{{ url_for ('static', filename= 'img/data_processing_yrrv.svg') }}">

                </div>

                <div class='card no-background no-boxshadow'>

                    <h2>

                        But aggregating this data is <b>time-consuming</b> and <b>restrictive</b>.

                    </h2>

                </div>

                <div class='card full-width no-background no-boxshadow height-auto'>

                    <h2 class="no-margin">

                        Now, with <b>GeoQuery</b>, the <span id='description' style="min-width: 7rem;display: inline-block;"></span> is at your fingertips.
                        
                    </h2>
                   
                    <img src=" {{ url_for ('static', filename= 'img/the_world_is_mine_nb0e.svg') }}" class='margin-center'>

                </div>

            </div>

        

            <!--

            
            <div class='card-container' id='more-info'>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                <div class='card'>

                    <h3>

                        Title Point Here

                    </h3>

                    <p>

                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia atque, dolore odio quia repellendus itaque nisi vel repudiandae fuga rem. Commodi, aut facere tempore ut est vel quo maiores soluta!

                    </p>


                </div>

                

            </div>
            -->

            <script>

            
                var subtitleOptions = {
    
                    strings: ['<i>Search<i/>', '<i>Know<i/>', '<i>Change<i/>'],
                    typeSpeed: 100,
                    startDelay: 100,
                    loop: true,
                    backdelay: 40,
                    fadeOut: false
                    
                };
    
                var descriptionOptions = {
    
                    strings: ['data', 'world'],
                    typeSpeed: 200,
                    startDelay: 100,
                    loop: true,
                    backdelay: 40,
                    fadeOut: true,
                    showCursor: false
                    
                };
    
                var typed = new Typed('#subtitle', subtitleOptions);
                var typed = new Typed('#description', descriptionOptions);
    
            </script>

{% endblock %}