{% extends "base.html" %}

{% block content %}

<div class='mx-auto max-w-7xl full-width mt-24 flex justify-center'>

    <form class='shadow-2xl max-w-md bg-white mx-auto flex flex-col justify-evenly p-10'>

        <h1 class='text-center text-2xl font-bold m-3 mb-0'>

            Login

        </h1>

        {{ form.email (class= 'm-5 h-14 font-semibold font-lg bg-gray-100 p-2
                    text-center focus:border-gray-300 
                    focus:bg-gray-200 appearance-none',
                                    placeholder="Email",
                                    type="Text"
                                    )}}


        {{ form.password (class= 'm-5 h-14 font-semibold font-lg bg-gray-100 p-2
                    text-center focus:border-gray-300 focus:bg-gray-200 
                    appearance-none',
                                        placeholder="Password",
                                        type="password"
                                        )}}

        {{ form.submit (class= 'mx-4 lg:mx-1 hover:underline bg-yellow-500 text-gray-800 font-bold
                rounded-full my-3 py-5 px-5 shadow-lg focus:outline-none focus:shadow-outline
                transform transition hover:scale-105 duration-300 ease-in-out'
                    
                                        )}}


    </form>


</div>


{% endblock %}