<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> SEARCH PAGE </title>

        <meta name="author" content="Matthew Tralka">
        <meta name="description"
            content="">
        <meta name="keywords" content="">
        
        <!-- @TODO set flask friendly -->
        <link rel="stylesheet" href="../static/normalize.css"/>
        <link rel="stylesheet" href="../static/style.css" />
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        -->

    </head>

    <body>
        <header>
            <div class='card card-nav width-limit-1000 width-full'>

                <div class='nav-brand'>

                    <p> GeoSearch </p>

                </div>

                <nav class='nav-sub'>

                    <a href="" class='nav-item'>

                        home

                    </a>

                    <a href="search.html" class='nav-item'>

                        search

                    </a>

                    <a href="" class='nav-item'>

                        about

                    </a>

                </nav>

            </div>

        </header>

        <main>

            <!-- MAIN SEARCH BOX CONTAINER-->
            <section class='card width-full height-two-thirds width-limit-1000 corners-round'>

                <!-- INPUT FOR SEARCH-->
                <div class='card height-full width-half no-margin' id='parameters' style="background-color: blue;">

                    <h2>

                        Query Parameters

                    </h2>
                    
                    <form class='form-container '>

                        <div class="form-item">
            
                            <input id="lat" name="lat" type="text" value=""> <br/><br/>
                            <label for="lat">Latitude</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="lon" name="lon" type="text" value=""> <br/><br/>
                            <label for="lon">Longitude</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="radius" name="radius" type="text" value=""> <br/><br/>
                            <label for="radius">Radius</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <select id="radius_units" name="radius_units"><option value="km">KM</option><option value="mi">MI</option></select> <br/><br/>
                            <label for="radius_units">Radius Units</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="tags" name="tags" type="text" value=""> <br/><br/>
                            <label for="tags">Search Tags</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="min_taken" name="min_taken" type="date" value="" class='date'> <br/><br/>
                            <label for="min_taken" class='date-label'>Minimum Date Taken</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="max_taken" name="max_taken" type="date" value="" class='date'> <br/><br/>
                            <label for="max_taken" class='date-label'>Maximum Date Taken</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="accuracy" name="accuracy" type="text" value=""> <br/><br/>
                            <label for="accuracy">Accuracy</label> 
            
                        </div>
                        
                        
                    </form>


                </div>

                <!-- LEAFLET(?) MAP -->
                <div class='card height-full width-half no-margin' style="background-color: blueviolet;">



                </div>

            </section>

            <!-- SEARCH BUTTON CONTAINER-->
            <section class='card width-full height-third width-limit-1000 corners-round'>

                <!-- <button></button> -->

            </section>

        </main>

        <footer>


        </footer>

    </body>

</html>