{% extends "base.html" %}

{% block content %}
            <!-- MAIN SEARCH BOX CONTAINER-->
            <section class='card full-width full-height'>

                <!-- INPUT FOR SEARCH-->
                <div class='card full-height half-width no-margin'>
                    


                </div>

                <!-- LEAFLET(?) MAP -->
                <div class='card full-height half-width no-margin'>



                </div>

            </section>

            <!-- SEARCH BUTTON CONTAINER-->
            <section class='card full-width'>

                <button></button>

            </section>

            


{% endblock %}
        