<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> SEARCH PAGE </title>

        <meta name="author" content="Matthew Tralka">
        <meta name="description"
            content="">
        <meta name="keywords" content="">
        
        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/normalize.css"/>
   
        
        <link rel="stylesheet" href="../static/css/home.css" />

        
        <!-- ADOBE FONTS -->
        <link rel="stylesheet" href="https://use.typekit.net/hwf2qbl.css">

        

        <!-- typed.js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        -->

        <!-- LEAFLET -->
        <!-- LEAFLET -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>


    </head>

    <body>

        <header class='nav'>
        
            <a class='nav-brand' href="/">

                <img src="../static/img/brand.png" alt='GeoQuery' width='70'>

            </a>

            <nav class='nav-sub'>

                <a href="/" class='nav-item'>

                    home

                </a>

                <a href="/search" class='nav-item'>

                    search

                </a>

                <a href="/about" class='nav-item'>

                    about

                </a>

            </nav>

        </header>

        <main style='justify-content: center;'>

            <div class="search-container"> 

                <div class='search-card' style="overflow-y: auto;background-color: grey;">

                    <h3>

                        Parameters
    
                    </h3>

                    <form class='form-container ' action="/search" id='search-form' method='POST'>

                        <input id="csrf_token" name="csrf_token" type="hidden" value="ImNiMTIwNzU0NmEzNWZiNzhkMjc4MzIyYTI5MWQ2ZmM2ZWJjZDkyNWQi.X44vag.AMhX8cXzjV0iDlypmRyx0EiBtPw">
            
                        <div class="form-item">
            
                            <input id="lat" name="lat" required type="text" value="">
                            <label for="lat">Latitude</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="lon" name="lon" required type="text" value="">
                            <label for="lon">Longitude</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="radius" name="radius" type="text" value="">
                            <label for="radius">Radius</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <select id="radius_units" name="radius_units"><option value="km">KM</option><option value="mi">MI</option></select>
                            <label for="radius_units">Radius Units</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="accuracy" name="accuracy" type="text" value="">
                            <label for="accuracy">Accuracy</label> 
            
                        </div>
                        
                        <div class="form-item">
            
                            <input class="date" id="min_taken" name="min_taken" type="date" value="">
                            <label for="min_taken">Minimum Date Taken</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input class="date" id="max_taken" name="max_taken" type="date" value="">
                            <label for="max_taken">Maximum Date Taken</label> 
            
                        </div>
            
                        <div class="form-item">
            
                            <input id="tags" name="tags" type="text" value="">
                            <label for="tags">Search Tags</label> 
            
                        </div>
                        
                        
                    </form>

                    <a href='/' class='button' id='execute-search'>
                    
                        Execute Search
                    
                    </a>

                </div>

                <div class='search-card' id='map-selection'>

                    <!-- LEAFLET SCRIPT -->
                    <script type="text/javascript">
                    
                        var mapSelection = L.map('map-selection', {

                            zoom: 3,
                            center: [38.89 , -31.75]
                        });

                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                        maxZoom: 10,
                                        minZoom: 3,
                                        id: 'mapbox/streets-v11',
                                        tileSize: 512,
                                        zoomOffset: -1,
                                        accessToken: 'pk.eyJ1IjoibXRyYWxrYSIsImEiOiJja2VjNm5hdWEwNjQ4MnZ0cHlycXlndnN5In0.mfQAFUPzfGZeMht0EToJBA'
                                    }).addTo(mapSelection);

                        mapSelection.on('click', function(e) {

                            document.getElementById('lon').value = e.latlng.lng;
                            document.getElementById('lat').value = e.latlng.lat;

                            //alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
                
                            L.circle( [e.latlng.lat, e.latlng.lng], {

                                radius: document.getElementById('radius').value,
                                fillOpacity: .5

                            }).addTo(mapSelection);
                            
                            
                        });
                    
                    </script>

                </div>

            </div>

        </main>

        <footer class='footer no-margin'>

            <div>

                &#0169;2020 <a href="https://tralka.xyz"><strong>Matthew Tralka</strong></a>

            </div>

        </footer>

    </body>

</html>